* {
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
}

main {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;

}

.content {
    
    background-color: white;
    text-align: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    max-width: 15rem;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 0.1px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Outfit', sans-serif;
    
}


.barcode {

    width: 100%;
    border-radius: .5rem;
}

.title {
    
    font-size: 1.3rem;
    margin-top: 1rem;

}

.info {

    
    color: hsl(220, 15%, 55%);
    margin-top: 1rem;
    font-size: .95rem;

}

footer { 
    
    text-align: center;
    font-size: .8rem; 
}

footer a {

     color: hsl(228, 45%, 44%); 

}
